<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973491412712-6cmcu798sirmf0e3uq3978kmbp41tkap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973491412712-6cmcu798sirmf0e3uq3978kmbp41tkap</string>
	<key>API_KEY</key>
	<string>AIzaSyCrbRDPppuhVo4p4bhC7I6SQOxFbxKPEis</string>
	<key>GCM_SENDER_ID</key>
	<string>973491412712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.gless.chat</string>
	<key>PROJECT_ID</key>
	<string>gless-960ef</string>
	<key>STORAGE_BUCKET</key>
	<string>gless-960ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973491412712:ios:db25a25f7674fb9023f35d</string>
	<key>DATABASE_URL</key>
	<string>https://gless-960ef.firebaseio.com</string>
</dict>
</plist>